body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

nav{
    align-items: right;
}

header h1{
    align-items: left;
}
header a:hover {
    background-color: #6AABCE;
}

image{
    width:10em;
    height:auto;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

aside {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
}