body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: auto;
}

header h1 {
    align-items: center;
}

header a {
    margin-right: 15px;
    text-decoration: none;
    color:white;
    background-color: #2E5266;
    align-items: center;
    padding:20px;
}

header a:hover {
    background-color: #6AABCE;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
}

aside {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}

.content {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f2f2f2;
}