@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body{
    font-family: "Afacad Flux", sans-serif;
}

header{
    color:white;
    background-color: #e40523;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;
    padding: 50px;
}

aside {
    border: 1px solid #ccc;
    padding: 3em;
    background-color: white;
    width: 20em;
}

.content {
    border: 1px solid #ccc;
    padding: 3em;
    margin-left: 5em;
    background-color: #f2f2f2;
    align-content: center;
}

section {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 10em;
}

table {
    border-spacing: 0.5em;
}