
.results{
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top:0.5em;
}
.top3-results{
    height:1em;
    text-align: center;
    font-weight: 800;
}

.result0{
    grid-column-start: 2;
}

.result1{
    grid-column-start: 1;
}

.result2{
    grid-column-start: 3;
}

.full-results{
    grid-column-start: 1;
    grid-column-end: 4;
}

ul{
    list-style-type: none;
}

li{
    text-align: center;
    width:fill;
    padding:10px;
}

li:nth-child(odd){
    background-color: #fdd9d9; 
}

.no-race-selected {
    margin-top: -10px;
    background-image: url("../images/Home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 3em;
    margin-left: 5em;
    background-color: #f2f2f2;
    align-content: center;
}

.no-race-selected h2{
    padding-top: 0em;
    text-shadow: 0 0 20px black;
    font-size: 100px;
    color:white;
    justify-content: center;
    text-align: center;
}