.background-image {
    display:flex;
    background-image: url("../images/Home1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px -10px 0px -10px;
    height: 85vh;
    justify-content: center;
}


.grid h2{
    text-shadow: 0 0 100px #00ffff, 0 0 40px #ff0000;
    font-size: 80px;
    color:white;
    text-align: center;
    grid-row-start: 2;
}

.grid a{
    justify-self: center;
    grid-row-start: 3;
    background: rgb(0,255,244);
    background: linear-gradient(95deg, rgba(0,255,244,1) 0%, rgba(232,6,29,1) 100%);
    font-size: 40px;
    color:white;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    padding: 0.25em 0.5em 0.5em 0.5em;
    height:1em;
    text-decoration: none;
}

.grid{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.content{
    grid-column-start: 2;
}